.form h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.form label {
    font-size: .6rem;
}

.form span {
    display: block;
    font-size: 1rem;
    text-align: center;
}

.form input,
.form select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

.form button {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background-color: rgb(34, 185, 255);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.form .addtnl-btn {
    background-color: #fff;
    color: #0E101C;
}

