.info {
    display: flex;
}

.info-item {
    display: flex;
    width: 20%;
    height: 80%;
    margin: auto;
    box-shadow: 0 0 20px #000;
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info-text h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.info-text p {
    font-size: 2.4rem;
}
