.product-list-hdg span {
    width: 12.5%;
}

.product-list-hdg .product-actions-heading {
    width: 37.5%;
}

.product-item {
    display: flex;
    height: 50px;
    text-align: center;
    background-color: #f6f6f6;
    line-height: 50px;
    color: #333;
}

.product-item:hover {
    background-color: #bbb;
}

.product-item span {
    width: 12.5%;
}

.product-item .actions {
    display: flex;
    width: 37.5%;
}

.product-item button {
    flex: 0 0 33.333333%;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.product-item button:nth-child(1):hover {
    background-color: rgb(11, 241, 3);
}

.product-item button:nth-child(2):hover {
    background-color: rgb(34, 185, 255);
}

.product-item button:nth-child(3):hover {
    background-color: rgb(241, 30, 30);;
}
